
.el-dropdown-menu__item--divided:before {
  display: none !important;
}
.el-dropdown-menu__item[data-v-314f53c6]:focus,
.el-dropdown-menu__item[data-v-314f53c6]:hover {
  background-color: #e6a23c !important;
  color: #fff !important;
}
.el-dropdown-menu__item--divided[data-v-314f53c6] {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.el-dropdown-menu__item[data-v-314f53c6] {
  font-size: 16px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-family: "Roboto", sans-serif !important;
}

