ul.el-dropdown-menu.el-popper .el-dropdown-menu__item {
    font-size: 16px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-family: "Roboto", sans-serif !important;
}
ul.el-dropdown-menu.el-popper .el-dropdown-menu__item--divided:before {
    display: none !important;
}
ul.el-dropdown-menu.el-popper .el-dropdown-menu__item:focus,
ul.el-dropdown-menu.el-popper .el-dropdown-menu__item:hover {
    background-color: #e6a23c !important;
    color: #fff !important;
}
ul.el-dropdown-menu.el-popper .el-dropdown-menu__item--divided {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.cool-lightbox .cool-lightbox__slide{
    margin-right: 0px!important;
}

.price {
    display: flex;
    .pricePerMeter {
        text-align: right;
        color: $color-black-02;
        opacity: 0.7;
        font-size: 13px;
        font-weight: 700;
        margin-left: 10px;
        #mv {
            color: $color-black-02;
            font-weight: 700;
        }
    }
}
.rent_total,.sell_total,.project_total {
    .el-card__header {
        padding: 0 !important;
    }
}

.el-cascader-menu__empty-text{
    visibility: hidden;
    position: absolute;
    top: 0;
}
.el-cascader-menu__empty-text::after{
    content: "Vui lòng chọn Tỉnh/Thành phố"!important;
    visibility: visible;
    display: block;
    // margin-top: 100px;
}
.el-cascader__dropdown:nth-child(4){
    .el-cascader-menu__empty-text{
        visibility: hidden;
        position: absolute;
        top: 0;
    }
    .el-cascader-menu__empty-text::after{
        content: "Vui lòng chọn Quận/Huyện"!important;
        visibility: visible;
        display: block;
        // margin-top: 100px;
    }
}
.compensate-for-scrollbar {
    margin-right: 0px !important;
}


@media screen and (max-width: 600px) {
    .price {
        .pricePerMeter {
            font-size: 8px;
            margin-left: 0px;
            margin-top: -4px;
            text-align: left;
        }
    }
    .search_sell .price .pricePerMeter{
        margin-top: 2px;
    }
    a.name {
        font-size: 12px !important;
        line-height: 16px !important;
    }
    .small_project,
    .search_sell,
    .search_rent {
        .el-card .el-card__body {
            padding: 10px !important;
        }
    }
}
