.carousel_title {
    .v-input__control {
        .v-input__slot {
            background: $color-white !important;
            height: 40px;
            border-radius: 5px !important;
        }
    }
    .v-text-field--filled > .v-input__control > .v-input__slot,
    .v-text-field--full-width > .v-input__control > .v-input__slot,
    .v-text-field--outlined > .v-input__control > .v-input__slot {
        min-height: 34px;
    }
    .v-input__icon {
        margin-top: -10px;
    }
    .input_house {
        .v-input.theme--light {
            padding-top: 0;
            margin-top: 0;
        }
        .v-text-field__slot {
            padding-left: 15px;
        }
    }
    .btn_search {
        .v-btn:not(.v-btn--round).v-size--default {
            width: 100%;
            height: 39.5px;
        }
    }
    .select_options {
        .options {
            padding: 6px;
            padding-bottom: 0px;
            .v-messages.theme--light {
                display: none;
            }
        }
        .v-text-field__details {
            display: none;
        }
    }
    .el-cascader {
        width: 98%;
        .el-icon-arrow-down:before {
            content: "\e790";
        }
    }
}

.search_sell,
.search_rent,
.search_project,
.chungcu,
.nhalienke,.condotel,.dato,.shop,.khucongnghiep {
    .el-input-group {
        width: auto;
        margin-right: 20px;
    }
    // .el-input__inner {
    //     width: 200px;
    // }
    .el-select .el-input__inner {
        width: 120px;
    }
    .el-icon-arrow-up:before {
        content: "\e790";
    }
    .el-input-group--prepend .el-input__inner,
    .el-input-group__append {
        // height: 50px;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
        box-shadow: none;
        background: #e5e5e5;
        border-radius: 4px;
    }
    .v-text-field--filled > .v-input__control > .v-input__slot,
    .v-text-field--full-width > .v-input__control > .v-input__slot,
    .v-text-field--outlined > .v-input__control > .v-input__slot {
        min-height: 50px;
        height: 50px;
    }

    .v-menu__content.theme--light.menuable__content__active {
        top: 245px !important;
    }
    .select_city{
        text-transform: capitalize!important;
    }
    #house,
    .select_city,
    .select_district,
    .select_ward,
    .select_type,
    .select_direction,
    .select_bedrooms,
    #project_type {
        .el-input__inner {
            // height: 50px !important;
            width: 220px !important;
            background: #e5e5e5;
            border-radius: 4px;
            font-size: 16px;
            color: $color-black-02;
        }
        .el-icon-arrow-down:before {
            content: "\e790" !important;
        }
        div::-webkit-scrollbar {
            opacity: 1;
        }
        .el-checkbox .el-cascader-node__label {
            font-size: 19px !important;
        }
    }
    #square,
    #price {
        .el-button {
            height: 40px;
            width: 132px;
            color: rgba(0, 0, 0, 0.349);
            background: #e5e5e5;
            border: none;
            font-size: 16px;
            .label{
                margin-top: -4px;
                display: flex;
                justify-content: space-between;
            }
            p {
                margin-bottom: 0px !important;
                color: $color-orange;
                font-size: 12px;
                text-align: left;
                margin-top: 0px!important;
            }
        }
    }
    #price {
        width: 132px;
    }
    .filter {
        .v-btn {
            text-transform: capitalize;
            width: 120px;
        }
        .v-btn:not(.v-btn--round).v-size--default {
            height: 40px;
        }
        img {
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }
    }
    .timkiem {
        .v-btn:not(.v-btn--round).v-size--default {
            height: 40px;
        }
        .v-btn {
            width: 100px;
        }
    }
    .filter_content {
        .direction {
            margin-top: -20px;
        }
        .el-card__body {
            padding: 10px 5px !important;
          }
          .options.col-sm-3{
              padding: 6px;
          }
    }
    .sort_items {
        .select_sort {
            .v-btn:not(.v-btn--round).v-size--small {
                padding: 18px 10px;
                box-shadow: none;
            }
            .v-btn {
                margin: 0 2px !important;
                .v-icon {
                    // color: $color-orange!important;
                }
            }
            .el-input__inner {
                color: $color-orange !important;
                // border: 1px solid $color-orange;
                width: 170px !important;
            }
            .el-icon-arrow-down:before {
                content: "\e6d2" !important;
                // color: $color-orange;
            }
        }
    }
}
.search_project,.chungcu,.nhalienke,.condotel,.dato,.shop,.khucongnghiep {
    #rent,
    #proccess,
    #built_year {
        .el-input__inner {
            width: 132px !important;
            background: #e5e5e5;
            border-radius: 4px;
            font-size: 16px;
            color: $color-black-02;
        }
        .el-icon-arrow-down:before {
            content: "\e790" !important;
        }
        .el-checkbox .el-cascader-node__label {
            font-size: 19px !important;
        }
    }

    #rent {
        .v-input__slot {
            width: 132px !important;
        }
    }
    // #project_type_tablet{
    //     .el-input__inner{
    //         height: 50px!important;
    //     }
    // }
}

.v-list-item__content .v-list-item__title {
    font-size: 14px;
}
// div::-webkit-scrollbar {
//     width: 2px !important;
//     opacity: 1.0 !important;
//     color: gray;
//   }

.el-popover {
    font-family: "Roboto", sans-serif;
    word-break: normal !important;
    padding: 15px 25px 20px !important;
    p {
        font-size: 15px;
        margin-bottom: 10px;
        text-align: center;
    }
    .confirm{
        margin-bottom: -10px;
        margin-top: 3px;
    }
    .input_selectrange {
        margin-top: 30px !important;
        display: flex;
        justify-content: space-between;
        .el-input-number {
            width: 110px !important;
            // height: 30px;
        }
        .el-input-number__increase,
        .el-input-number__decrease {
            width: 25px;
        }
        .el-input-number .el-input__inner {
            padding: 0 20px !important;
        }
    }
}
//Của dropdown element ui
// #cascader-menu-2660-0{
.el-cascader-menu__list {
    width: 220px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
// }
.el-select-dropdown__item {
    font-family: "Roboto", sans-serif;
}
#project_type_tablet {
    .el-icon-arrow-down:before {
        content: "\e790" !important;
    }
}
@media screen and (min-width: 600px) {
    .search_sell,
    .search_rent,
    .search_project,.chungcu,.nhalienke,.condotel,.dato,.shop,.khucongnghiep {
        #house,
        .select_city,
        .select_district,
        .select_ward,
        .select_stress,
        .select_type,
        .select_direction,
        .select_bedrooms,
        #project_type {
            .el-input__inner {
                // height: 50px !important;
                color: $color-black-02;
                width: 170px!important;
            }
        }
    }
    .search_project,.chungcu,.nhalienke,.condotel,.dato,.shop,.khucongnghiep {
        #rent,
        #proccess,
        #built_year{
            .el-input__inner{
                // height: 50px!important;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .search_sell,
    .search_rent,
    .search_project,.chungcu,.nhalienke,.condotel,.dato,.shop ,.khucongnghiep{
        #house,
        .select_city,
        .select_district,
        .select_ward,
        .select_stress,
        .select_type,
        .select_direction,
        .select_bedrooms,
        #project_type {
            .el-input__inner {
                width: 140px !important;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .el-cascader-menu__list {
        width: 190px;
        font-size: 13px;
        font-family: "Roboto", sans-serif;
    }
    .search_sell,
    .search_rent,
    .search_project,.chungcu,.nhalienke,.condotel,.dato,.shop,.khucongnghiep {
        .sort_items {
            .select_sort {
                .v-btn:not(.v-btn--round).v-size--small {
                    padding: 18px 10px;
                    box-shadow: none;
                }
                .v-btn {
                    margin: 0 2px !important;
                }
                .el-input__inner {
                    color: $color-orange !important;
                    font-size: 12px !important;
                    width: 120px !important;
                }
            }
        }
        .el-input-group--prepend .el-input__inner,
        .el-input-group__append {
            height: 40px;
        }
        #house,
        .select_city,
        .select_district,
        .select_ward,
        .select_stress,
        .select_type,
        .select_direction,
        .select_bedrooms,
        #project_type {
            .el-input__inner {
                // height: 40px!important;
                width: 130px !important;
                font-size: 14px;
            }
            text-align: center;
            margin-top: 10px;
        }
        #house {
            .el-input__inner {
                width: 190px !important;
            }
        }
        #square,
        #price {
            display: none;
            .el-button {
                height: 40px;
                width: 132px;
                font-size: 14px;
                p {
                    font-size: 9px;
                    text-align: left;
                }
            }
        }
        .filter {
            display: none;
            .v-btn {
                text-transform: capitalize;
                width: 120px;
            }
            .v-btn:not(.v-btn--round).v-size--default {
                height: 40px;
            }
            img {
                width: 15px;
                height: 15px;
                margin-left: 5px;
            }
        }
        .timkiem {
            display: none;
            .v-btn:not(.v-btn--round).v-size--default {
                height: 40px;
            }
            .v-btn {
                width: 120px;
            }
        }
        .responsive_square_price {
            display: block !important;
            justify-content: center;
            margin-top: 10px;
            #square,
            #price {
                display: block;
                margin: 0 4px;
            }
            .filter,
            .timkiem {
                display: block;
                margin: 0 4px;
            }
        }
        .bedrooms {
            .el-button {
                padding: 8px 12px;
                font-size: 12px!important;
            }
        }
    }
    .search_sell .sort_items .select_sort .v-btn:not(.v-btn--round).v-size--small,
    .search_rent .sort_items .select_sort .v-btn:not(.v-btn--round).v-size--small,
    .search_project .sort_items .select_sort .v-btn:not(.v-btn--round).v-size--small {
        padding: 14px 2px !important;
        margin-top: 10px;
    }
    .sort_items .select_sort .el-cascader {
        margin-bottom: 5px !important;
    }
    .search_project,.chungcu,.nhalienke,.condotel,.dato,.shop,.khucongnghiep {
        #rent,
        #proccess,
        #built_year {
            .el-input__inner{
                font-size: 14px;
                color: $color-black-02;
                width: 132px !important;
            }
        }
        #rent {
            .v-input__slot {
                width: 132px !important;
            }
        }
        .responsive_select {
            height: 50px;
        }
    }
    .el-cascader-menu__list {
        width: 190px !important;
    }
}
