.carousel_title {
    .v-input__control {
        .v-input__slot {
            background: $color-white !important;
            height: 40px;
            border-radius: 5px !important;
        }
    }
    .v-text-field--filled > .v-input__control > .v-input__slot,
    .v-text-field--full-width > .v-input__control > .v-input__slot,
    .v-text-field--outlined > .v-input__control > .v-input__slot {
        min-height: 34px;
    }
    .v-input__icon {
        margin-top: -10px;
    }
    .input_house {
        .v-input.theme--light {
            padding-top: 0;
            margin-top: 0;
        }
        .v-text-field__slot {
            padding-left: 15px;
        }
    }
    .btn_search {
        .v-btn:not(.v-btn--round).v-size--default {
            width: 100%;
        }
    }
    .select_options {
        .options {
            padding: 6px;
            padding-bottom: 0px;
            .v-messages.theme--light {
                display: none;
            }
        }
        .v-text-field__details {
            display: none;
        }
    }
}

.search_sell,.search_rent,.search_project {
    .el-input-group{
        width: auto;
        margin-right: 20px;
    }
    .el-input__inner {
        width: 200px;
    }
    .el-select .el-input__inner {
        width: 120px;
    }
    .el-icon-arrow-up:before {
        content: "\e790";
    }
    .el-input-group--prepend .el-input__inner, .el-input-group__append{
        height: 50px;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
        box-shadow: none;
        background: #e5e5e5;
        border-radius: 4px;
    }
    .v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
        min-height: 50px;
        height: 50px;
    }

    .v-menu__content.theme--light.menuable__content__active{
        top: 245px!important;
    }
    #house{
        margin-right: 20px;
        .v-input__slot{
            width: 210px!important;
        }
        .el-input__inner {
            height: 50px!important;
            background: #e5e5e5;
            border-radius: 4px;
            font-size: 16px;
            color: $color-black-01
        }
        .el-icon-arrow-down:before{
            content: "\e790"!important;
        }
        div::-webkit-scrollbar {
            opacity: 1;
        }
       .el-checkbox .el-cascader-node__label{
            font-size: 19px!important;
        }
    }
    #square,#price{
        .v-btn{
            width: 132px;
            height: 50px;
            box-shadow: none;
            background: #e5e5e5;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.349);
            font-size: 16px;
            letter-spacing: 0.3px;
            font-family: "Roboto", sans-serif;
        }
    }
    #price{
        width: 132px;
        margin-right: 20px;
    }
    .filter{
        margin-right: 20px;
        .v-btn{
            text-transform: capitalize;
            width: 140px;
        }
        .v-btn:not(.v-btn--round).v-size--default{
            height: 50px;
        }
        img{
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }
    }
    .timkiem{
        .v-btn:not(.v-btn--round).v-size--default{
            height: 50px;
        }
        .v-btn{
            width: 140px;
        }
    }
    .filter_content{
        .bedrooms{
            margin-top: -20px;
            .v-btn{
                text-transform: capitalize;
                padding: 20px 0px!important;
                margin: 5px;
            }
            .v-btn:not(.v-btn--round).v-size--default{
                min-width: 50px;
                width: 50px;
            }
            .v-btn:not(.v-btn--round).v-size--default:nth-child(1){
                min-width: 64px;
                width: 64px;
            }
       }
       .direction{
           margin-top: -20px;
           .v-btn{
            text-transform: capitalize;
            padding: 20px 10px!important;
            margin: 5px;
        }
       }
    }
}

.search_project{
    #rent,#proccess,#built_year{
        width: 132px;
        margin-right: 20px;
    }
    #rent{
        margin-right: 20px;
        .v-input__slot{
            width: 132px!important;
        }
    }
}

.v-list-item__content .v-list-item__title{
    font-size: 14px;
}
// div::-webkit-scrollbar {
//     width: 2px !important;
//     opacity: 1.0 !important;
//     color: gray;
//   }
