// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-orange: #FBAD18;
$color-orange-light: #fdd27f; 
$color-white: #fff;
$color-black-01: #000;
$color-black-02: #7a7a7a;
$color-black-03: #303133;
$color-blue-dark: #242D4A;


// .slide-fade-enter-active {
//     transition: all 2s ease;
//   }